*
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: #C7D1E1;
}

.button
{
    width: auto;    
    border: 1px solid #acacac;
    background-color: #eaeaea;
    margin: 0 0 5px;
    padding: 5px;
    cursor: pointer;
}

.button:hover
{ 
    border: 1px solid #AAD3FE;
    background-color: #EFF6FE;
}

.context_menu {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #666;
    background-color: #ccc;
    float: left;
    padding: 5px;
}
.linewidth-bttn
{    
    display: block;
    margin: 20px 3px;
    background-color: #1E395B;
}

.popup_bttn
{
    width: auto;
}

.color_button
{
    width: 25px;
    height: 25px;
    border: 1px solid gray;
    padding: 4px;
}

.left
{
    float: left;
}

.right
{
    float: right;
}

.clear
{
    clear: both;
}

.hidden
{
    display: none;
}
.contain {
    padding: 0;
}